/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1rem;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: gray;
    color: whitesmoke;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:hover {
    background: lightslategray;
}